<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" href="assets/MicrosoftTeams-image.png" type="image/x-icon">

    <title>Sense</title>
</head>

<body>

    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Sense WebApp</h1>
        <p class="lead">A Regndans production</p>
        <hr class="my-4">
        <p>Group project made for Gruppe Blå</p>
    </div>

    <div id="app">
        <h2>Timer</h2>
        <div id="Timer" class="table-responsive">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Start time</th>
                        <th>End time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="datetime-local" name="timerStart" id="timerStart" v-model="timerStart">
                        </td>
                        <td><input type="datetime-local" name="timerEndReal" id="timerEndReal" v-model="timerEndReal">
                        </td>
                        <td><button id="GemTid" v-on:Click="PutTimes()" class="btn">Save Timespan</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>Sensors activated during following timespan {{FormatTime(timers[0].activeStart)}} to
            {{FormatTime(timers[0].activeEnd)}}</p>
        <h2>Sensors</h2>
        <div id="Sensors">
            <button id="onButton" v-on:click="TurnSensorsOn()" class="btn">Turn all sensors on</button>
            <button id="offButton" v-on:click="TurnSensorsOff()" class="btn">Turn all sensors off</button>
            <table id="sensorList" v-if="sensors.length" class="table table-dark table-stribed">
                <thead class="thead">
                    <tr>
                        <th>Name</th>
                        <th>Active</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(ss,i) in sensors" :key="i">
                        <td>{{ss.sensorName}}</td>
                        <td>{{SensorOnOff(ss.active)}}</td>

                        <td><button v-on:click="Switchtruefalse(ss.sensorId)" class="btn btn-table"><i
                                    class="fas fa-power-off"></i></button></td>
                    </tr>
                </tbody>
            </table>

            <div class="row" id="ChangeNameRow">
                <div class="col-xl-4">
                    <select id="dropChangeNames" class="form-control" v-model="Name" @change="DetermineId(Name)">
                        <option disabled value="New name">Select Sensor</option>
                        <option v-for="(nn,i) in sensors">{{DetermineName(nn.sensorId)}}</option>
                    </select>
                </div>
                <div class="col-xl-4">
                    <input id="inputChangeName" class="form-control" v-model="Name" placeholder="edit me">
                </div>
                <div class="col-xl-4">
                    <button id="buttonChangeName" class="btn" v-on:click="UpdateSensorNameHtml()">Save name</button>
                </div>
            </div>
        </div>
        <br />
        <div id="Motions">
            <h2>Motion Detections</h2>
            <button class="btn" v-on:click="HideMotionTable()" id="hideTableButton">Hide motions</button>
            <button class="btn" v-on:click="GetAllMotions()" id="showTableButton">Show motions</button>
            <select id="dropSortNames" class="form-control" id="MotionNames" v-model="sensName"
                @change="GetInputFromMotionnames()">
                <option value="All">All</option>
                <option v-for="(nn,i) in sensors">{{DetermineName(nn.sensorId)}}</option>
            </select>
            <h4>Find by date: dd/mm/yyyy</h4>

            <div class="row" id="SearchByDateRow">
                <div class="col-2">
                    <input class="form-control" type="number" id="motionDate" v-model="motionDate">
                </div>
                <div class="col-2">
                    <input class="form-control" type="number" id="motionMonth" v-model="motionMonth">
                </div>
                <div class="col-2">
                    <input class="form-control" type="number" id="motionYear" v-model="motionYear">
                </div>
                <div class="col-6">
                    <button id="dateFilterBtn" class="btn" v-on:click="GetAllMotionsByDate()">Find by date</button>
                </div>
            </div>

            <table id="pirListe" v-if="motions.length" class="table table-dark table-striped">
                <thead class="thead">
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Time of detection</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(mm,i) in motions" :key="i">
                        <td>{{DetermineName(mm.sensorId)}}</td>
                        <td>{{mm.status}}</td>
                        <td>{{FormatTime(mm.timeOfDetection)}}</td>

                    </tr>
                </tbody>
            </table>
        </div>


    </div>

    <script src="js/index.js"></script>
</body>

</html>