<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Sense</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Sense WebApp</h1>
        <p class="lead">A Regndans production</p>
        <hr class="my-4">
        <p>gruppe projekt lavet til gruppe Blå</p>
    </div>
    <div id="app">
        <h2>Sensors</h2>
        <div id="Sensors">
            <button id="onButton" v-on:click="TurnSensorsOn()" class="btn btn-success">Turn all sensors on</button>
            <button id="offButton" v-on:click="TurnSensorsOff()" class="btn btn-success">Turn all sensors off</button>
            <table id="sensorList" v-if="sensors.length" class="table table-dark table-striped" style="width: 50%">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Active</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(ss,i) in sensors" :key="i">
                        <td>{{ss.sensorName}}</td>
                        <td>{{ss.active}}</td>
                        
                        <td><button v-on:click="Switchtruefalse(ss.sensorId)" class="btn btn-success">switch</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="Motions">
            <h2>Motion Detections</h2>
            <button class="btn btn-success" v-on:click="HideMotionTable()" id="hideTableButton">Hide motions</button>
            <button class="btn btn-success" v-on:click="GetAllMotions()" id="showTableButton">Show motions</button>
            <table id="pirListe" v-if="motions.length" class="table table-dark table-striped" style="width: 50%">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Time of detection</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(mm,i) in motions" :key="i" >
                        <td >{{DetermineName(mm.sensorId)}}</td>
                        <td>{{mm.status}}</td>
                        <td>{{mm.timeOfDetection}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    <script src="js/index.js"></script>
</body>

</html>