<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Title</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Sense WebApp</h1>
        <p class="lead">A Regndans production</p>
        <hr class="my-4">
        <p>gruppe projekt lavet til gruppe Blå</p>
    </div>
    <div id="app">
        <h2>Sensors</h2>
        <div id="Sensors">
            <button v-on:click="Switchtruefalse(1)" class="btn btn-success">switch</button>
            <table id="sensorList" v-if="sensors.length" class="table table-dark table-striped" style="width: 50%">
                <thead class="thead-dark">
                    <tr>
                        <th v-for="(value, sensorName) in sensors[0]">{{sensorName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in sensors">
                        <td v-for="sensor in row">{{sensor}}</td>
                        <td><button v-on:click="Switchtruefalse(sensor.sensorId)" class="btn btn-success">switch</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="Motions">
            <h2>Motion Detections</h2>
            <h4>Get all motions</h4>
            <button v-on:click="getAllMotions()" class="btn btn-success">Get all motions</button>
            <br>
            <br>
            <button class="btn btn-success" v-on:click="HideMotionTable()" id="hideTableButton">Hide table</button>
            <button class="btn btn-success" v-on:click="getAllMotions()" id="showTableButton">Show table</button>
            <table id="pirListe" v-if="motions.length" class="table table-dark table-striped" style="width: 50%">
                <thead class="thead-dark">
                    <tr>
                        <th v-for="(item, index) in motions[0]">{{index}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in motions">
                        <td v-for="motion in row">{{motion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    <script src="js/index.js"></script>
</body>

</html>