
:root{
    --STDC:#fffcdd;
    --SC: #343a40;
    --HighlightC: #DE3163;
}

body{
    background-color: var(--STDC);
}

.jumbotron{
    background-color: var(--STDC);
}

.table{
    background-color: var(--HighlightC);
}

.btn{
    background-color: var(--HighlightC);
}

.btn:hover{
    background-color: var(--SC);
}